<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->

<head>
  <meta charset="utf-8" />
  <title>ELYSIUM-BOOKS</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/public/admin-assets/imgs/theme/favicon.svg" />
  <!-- Template CSS -->
  <link href="/public/admin-assets/css/main.css" rel="stylesheet" type="text/css" />



</head>

<body>
  <div class="screen-overlay"></div>
  <%-include('../partials/adminAside')-%>
    <main class="main-wrap">
      <%-include('../partials/adminHeader')-%>
        <section class="content-main">
          <div class="content-header">
            <div>
              <h2 class="content-title card-title">Order List</h2>
              <p>Lorem ipsum dolor sit amet.</p>
            </div>

          </div>
          <div class="card mb-4">

            <!-- card-header end// -->
            <div class="card-body">
              <div class="table-responsive">



                <table class="table table-hover" id="example">
                  <% if(orders && orders.length> 0 ){ %>

                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Total Amount</th>
                        <th>Payment Method</th>
                        <th>Date && Time</th>
                        <th>Payment Status</th>
                        <th>Order Status</th>
                        <th>Change Status</th>
                        <th class="text-end">Order Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% orders.forEach(order=> { %>
                        <tr>
                          <td>
                            <%= order.orderId %>
                          </td>
                          <td>
                            $<%= order.totalAmount %>
                          </td>
                          <td>
                            <%= order.paymentMethod %>
                          </td>
                          <td>
                            <%= order.orderDate.toLocaleString() %>
                          </td>
                          <td><span class="badge bg-warning text-dark">
                              <%= order.paymentStatus%>
                            </span></td>
                          <td>
                            <span
                              class="badge bg-<%= order.orderStatus === 'Shipped' ? 'primary' : (order.orderStatus === 'Returned' ? 'secondary' : (order.orderStatus === 'Cancelled' ? 'danger' : (order.orderStatus === 'Delivered' ? 'success' : 'warning'))) %> text-dark">
                              <%= order.orderStatus %>
                            </span>

                          </td>
                          <td>
                            <div class="dropdown">
                              <button class="btn btn-sm btn-icon dropdown-toggle" type="button"
                                id="deliveryStatusDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Status
                              </button>

                              <ul class="dropdown-menu dropdown-menu-sm" aria-labelledby="deliveryStatusDropdown">
                                <li><a class="dropdown-item"
                                    href="/admin/adminOrderpending?id=<%= order._id %>">Order Placed</a></li>
                                <li><a class="dropdown-item"
                                    href="/admin/adminOrderShipped?id=<%= order._id %>">Shipped</a></li>
                                <li><a class="dropdown-item"
                                    href="/admin/adminOrderDelivered?id=<%= order._id %>">Delivered</a></li>
                                <li><a class="dropdown-item"
                                    href="/admin/adminOrderCancelled?id=<%= order._id %>">Cancelled</a></li>
                                <li><a class="dropdown-item"
                                    href="/admin/adminOrderReturned?id=<%= order._id %>">Returned</a></li>
                              </ul>
                            </div>
                          </td>

              </div>

              </td>
              <td class="text-end">
                <a href="/admin/loadOrderDetails?id=<%=order._id%>" class="btn btn-sm btn-outline-dark">Order Detail</a>
              </td>
              </tr>
              <% }); %>
                <% }else{ %>
                  <h3>No orders</h3>
                  <% } %>

                    </table>



            </div>
            <!-- table-responsive //end -->
          </div>
          <!-- card-body end// -->
          </div>
          <!-- card end// -->

        </section>
        <!-- content-main end// -->
        <footer class="main-footer font-xs">
          <div class="row pb-30 pt-15">
            <div class="col-sm-6">
              <script data-cfasync="false"
                src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
              <script>
                document.write(new Date().getFullYear());
              </script>
              ©,ELYSIUM-BOOKS.
            </div>
            <div class="col-sm-6">
              <div class="text-sm-end">All rights reserved</div>
            </div>
          </div>
        </footer>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const changeStatusSelects = document.querySelectorAll(".change-status");

        changeStatusSelects.forEach(select => {
          select.addEventListener("change", function () {
            const selectedOption = select.options[select.selectedIndex];
            const orderStatusCell = select.parentElement.previousElementSibling;
            orderStatusCell.innerHTML = `<span class="badge bg-warning text-dark">${selectedOption.text}</span>`;
            // Here you can send an AJAX request to update the order status in the database
          });
        });
      });

    </script>
    <script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/public/admin-assets/js/main.js" type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
      $(document).ready(function () {
        new DataTable('#example');

      })
    </script>


</body>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->

</html>