<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->

<head>
    <meta charset="utf-8">
    <title>BOOKSAW</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/spellbook.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/assets/css/maind134.css?v=3.4">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <style>
        #email:hover,
        #password:hover {
            border-color: #6c757d;
            /* Change border color on hover */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            /* Add box shadow on hover */
            transform: scale(1.02);
            /* Scale up the input field on hover */

        }

        .copy-btn {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.copy-btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.copy-btn.copied {
  background-color: #28a745;
  border-color: #28a745;
}   .coupon-container {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-header.bg-gradient-primary {
  background-color: #7e7d7d;
}

.coupon-card {
  flex: 0 0 auto;
  max-width: 400px;
}

.coupon-card-inner {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.coupon-card-inner:hover {
  transform: translateY(-5px);
}

.coupon-title {
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.coupon-code {
  font-weight: 700;
  font-size: 1.2rem;
  color: #007bff;
  letter-spacing: 1px;
}

.copy-btn {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.copy-btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.copy-btn.copied {
  background-color: #28a745;
  border-color: #28a745;
}
        
    </style>

    <style>
        .transaction-history {
    font-family: Arial, sans-serif;
}

.transaction-history h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.transaction-history table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-history th, .transaction-history td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.transaction-history th {
    background-color: #f2f2f2;
    color: #333;
}

.transaction-history tbody tr:hover {
    background-color: #f9f9f9;
}

.transaction-history tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.transaction-history tbody td:last-child {
    text-transform: capitalize;
}

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <%-include('../partials/userHeader')-%>

        <div class="mobile-header-active mobile-header-wrapper-style">
            <div class="mobile-header-wrapper-inner">
                <div class="mobile-header-top">
                    <div class="mobile-header-logo">
                    </div>
                    <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                        <button class="close-style search-close">
                            <i class="icon-top"></i>
                            <i class="icon-bottom"></i>
                        </button>
                    </div>
                </div>
                <div class="mobile-header-content-area">
                    <div class="mobile-search search-style-3 mobile-header-border">
                        <form action="#">
                            <input type="text" placeholder="Search for items…">
                            <button type="submit"><i class="fi-rs-search"></i></button>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-border">
                        <div class="main-categori-wrap mobile-header-border">
                            <a class="categori-button-active-2" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-small">
                                <ul>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's
                                            Clothing</a>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's
                                            Clothing</a>
                                    </li>
                                    <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>
                                            Cellphones</a>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                            Office</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                            Electronics</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                            Kids</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- mobile menu start -->
                        <nav>
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="/home">Home</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
                                        <li><a href="index-3.html">Home 3</a></li>
                                        <li><a href="index-4.html">Home 4</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="shop-grid-right.html">shop</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                        <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                        <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                        <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                        <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                                href="#">Single Product</a>
                                            <ul class="dropdown">
                                                <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                                <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                                <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop-filter.html">Shop – Filter</a></li>
                                        <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                        <li><a href="shop-cart.html">Shop – Cart</a></li>
                                        <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                        <li><a href="shop-compare.html">Shop – Compare</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                        menu</a>

                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="blog-category-fullwidth.html">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                        <li><a href="blog-category-list.html">Blog Category List</a></li>
                                        <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                        <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                                href="#">Single Product Layout</a>
                                            <ul class="dropdown">
                                                <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                                <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                                <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="page-about.html">About Us</a></li>
                                        <li><a href="page-contact.html">Contact</a></li>
                                        <li><a href="page-account.html">My Account</a></li>
                                        <li><a href="page-login-register.html">login/register</a></li>
                                        <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                        <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                        <li><a href="page-terms.html">Terms of Service</a></li>
                                        <li><a href="page-404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="#">Language</a>
                                    <ul class="dropdown">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">German</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- mobile menu end -->
                    </div>
                    <div class="mobile-header-info-wrap mobile-header-border">
                        <div class="single-mobile-header-info mt-30">
                            <a href="page-contact.html"> Our location </a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="page-login-register.html">Log In / Sign Up </a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="#">(+01) - 2345 - 6789 </a>
                        </div>
                    </div>
                    <div class="mobile-social-icon">
                        <h5 class="mb-15 text-grey-4">Follow Us</h5>
                        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <main class="main">
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="/home" rel="nofollow">Home</a>
                        <span></span> Account
                    </div>
                </div>
            </div>
            <section class="pt-150 pb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 label">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dashboard-menu">
                                        <ul class="nav flex-column" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                                    href="#dashboard" role="tab" aria-controls="dashboard"
                                                    aria-selected="false"><i
                                                        class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                                    role="tab" aria-controls="orders" aria-selected="false"><i
                                                        class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                            </li>
                                            <!-- <li class="nav-item"> -->
                                            <!-- <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a> -->
                                            <!-- </li> -->
                                            <li class="nav-item">
                                                <a class="nav-link" id="address-tab" data-bs-toggle="tab"
                                                    href="#address" role="tab" aria-controls="address"
                                                    aria-selected="true"><i class="fi-rs-marker mr-10"></i>My
                                                    Address</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                    href="#account-detail" role="tab" aria-controls="account-detail"
                                                    aria-selected="true"><i class="fi-rs-user mr-10"></i>Account
                                                    details</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="Coupons" data-bs-toggle="tab" href="#coupon" role="tab" aria-controls="address"
                                                aria-selected="true">
                                                    <i class="fa-solid fa-tag"></i> &nbsp;&nbsp;&nbsp;Coupons</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="Coupons" data-bs-toggle="tab" href="#wallet" role="tab" aria-controls="wallet"
                                                aria-selected="true">
                                                <i class="fa-solid fa-wallet"></i> &nbsp;&nbsp;&nbsp;Wallet</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content dashboard-content">
                                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                            <div class="card">
                                              <div class="card-header">
                                                <h5 class="mb-0">Hello <%=name%>!</h5>
                                              </div>
                                              <div class="card-body">
                                                <p>From your account dashboard, you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a>, <a href="#">edit your password and account details</a>, and use your referral code.</p>
                                                <div class="form-group">
                                                  <label for="email">Username:</label>
                                                  <input type="email" id="email" value="<%= name %>" readonly style="background-color: #f8f9fa; border: 1px solid #ced4da; border-radius: 5px; padding: 12px; margin-bottom: 15px; width: 100%; box-sizing: border-box; font-size: 16px; color: #495057;">
                                                </div>
                                                <div class="form-group">
                                                  <label for="password">Email:</label>
                                                  <input type="email" id="password" value="<%= email %>" readonly style="background-color: #f8f9fa; border: 1px solid #ced4da; border-radius: 5px; padding: 12px; width: 100%; box-sizing: border-box; font-size: 16px; color: #495057;">
                                                </div>
                                                <div class="form-group">
                                                  <label for="referralCode">Your Referral Code:</label>
                                                  <input type="text" id="referralCode" value="<%=userData.referralCode%>" readonly class="form-control" style="background-color: #f8f9fa; border: 1px solid #ced4da; border-radius: 5px; padding: 12px; width: 100%; box-sizing: border-box; font-size: 16px; color: #495057; cursor:pointer;" onclick="copyToClipboard('<%=userData.referralCode%>')">
                                                </div>
                                                <% if(!userData.alreadyReffered) { %>

                                                <div class="form-group">
                                                  <label for="inputReferralCode">Enter Another Referral Code:</label>
                                                  <div class="input-group">
                                                    <div class="input-group" id="referralInputContainer">
                                                        <input type="text" class="form-control" id="inputReferralCode" placeholder="Enter Referral Code" style="background-color: #f8f9fa; border: 1px solid #ced4da; border-radius: 5px; padding: 12px; width: 100px; box-sizing: border-box; font-size: 16px; color: #495057;">
                                                        <button class="btn btn-primary" id="applyReferralBtn" onclick="applyReferralCode()">Apply</button>
                                                    </div>
                                                </div>
                                            </div>
                                                    <% } %>

                                                    
                                              </div>
                                            </div>
                                          </div>
                                          
                                          <script>
                                            function copyToClipboard(text) {
                                              navigator.clipboard.writeText(text);
                                              toastr.success("Referral code copied to clipboard!");
                                            }
                                          
                                            function applyReferralCode() {
                                            const inputReferralCode = document.getElementById("inputReferralCode").value;
                                            

                                        // Make a fetch request to the backend
                                        fetch('/applyReferral', {
                                            method: 'POST',
                                            headers: {
                                            'Content-Type': 'application/json'
                                            },
                                            body: JSON.stringify({ referralCode: inputReferralCode })
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            if (data.success) {
                                            // Referral code applied successfully
                                            console.log('Referral code applied:', inputReferralCode);
                                            toastr.success('Referral code applied successfully!');
                                            } else {
                                            // Error applying referral code
                                            console.error('Error applying referral code:', data.error);
                                            toastr.error('You cannot use your own code: ');
                                            }
                                        })
                                        .catch(error => {
                                            // Error making the fetch request
                                            console.error('Error applying referral code:', error);
                                            toastr.error('Error applying referral code: ' + error.message);
                                        });
                                        }
                                          </script>


                                        
                                        <div class="tab-pane fade" id="orders" role="tabpanel"
                                            aria-labelledby="orders-tab">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Your Orders</h5>
                                                </div>

                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-hover"
                                                            style="margin: 0;">
                                                            <% if(orders && orders.length> 0 ){ %>

                                                                <thead class="table-dark">
                                                                    <tr>
                                                                        <th style="padding: 10px;">Order</th>
                                                                        <th style="padding: 10px;">Payment Method</th>
                                                                        <th style="padding: 10px;">Order Status</th>
                                                                        <th style="padding: 10px;">Payment Status</th>
                                                                        <th style="padding: 10px;">Date</th>
                                                                        <th style="padding: 10px;">Total</th>
                                                                        <th style="padding: 10px;">Actions</th>
                                                                        <th style="padding: 10px;">Details</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% orders.forEach(order=> { %>
                                                                        <tr>
                                                                            <td style="padding: 10px;">
                                                                                <%= order.orderId %>
                                                                            </td>
                                                                            <td style="padding: 10px;">
                                                                                <p>
                                                                                    <%= order.paymentMethod %>
                                                                                </p>
                                                                            </td>
                                                                            <td style="padding: 10px;">
                                                                                <% if (order.paymentStatus !== 'failed') { %>
                                                                                    <% if (order.orderStatus === 'Cancelled') { %>
                                                                                        <span class="badge bg-danger">
                                                                                            <%= order.orderStatus %>
                                                                                        </span>
                                                                                    <% } else { %>
                                                                                        <span class="badge bg-info">
                                                                                            <%= order.orderStatus %>
                                                                                        </span>
                                                                                    <% } %>
                                                                                <% } %>
                                                                            </td>
                                                                            
                                                                                <td style="padding: 10px;">
                                                                                    <span class="badge <%= order.paymentStatus === 'Received' ? 'bg-success text-dark' : (order.paymentStatus === 'Failed' ? 'bg-danger text-light' : 'bg-warning text-dark') %>">
                                                                                        <%= order.paymentStatus %>
                                                                                    </span>
                                                                                    
                                                                                    
                                                                                </td>
                                                                                
                                                                                
                                                                            <td style="padding: 10px;">
                                                                                <%= order.orderDate.toLocaleString() %>
                                                                            </td>
                                                                            <td style="padding: 10px;">
                                                                                $<%= order.totalAmount %>
                                                                            </td>
                                                                            <td style="padding: 10px;">
                                                                                <% if
                                                                                    (order.orderStatus==='Order Placed'
                                                                                    && order.paymentStatus==='Received'||order.paymentStatus=== 'Pending'&& order.orderStatus!=='Cancelled') {
                                                                                    %>
                                                                                    <a class="btn btn-warning btn-sm cancel-order"
                                                                                        href="/orderCancel?id=<%=order._id%>"
                                                                                        data-order-id="<%= order._id %>"><i
                                                                                            class="fas fa-times"></i>
                                                                                        Cancel</a>
                                                                                    <% } else if
                                                                                        (order.orderStatus==='Delivered'
                                                                                        ) { %>
                                                                                        <a class="btn btn-primary btn-sm return-order"
                                                                                            href="/orderReturn?id=<%=order._id%>"
                                                                                            data-order-id="<%= order._id %>"><i
                                                                                                class="fas fa-undo"></i>
                                                                                            Return</a>
                                                                                        <% } %>
                                                                            </td>
                                                                            <td style="padding: 10px;"><a
                                                                                    href="/loadOrderDetails?id=<%=order._id%>"
                                                                                    class="btn btn-primary btn-sm view-order"
                                                                                    data-order-id="<%= order._id %>"><i
                                                                                        class="fas fa-eye"></i> View</a>
                                                                            </td>
                                                                        </tr>
                                                                        <% }); %>
                                                                            <% } else { %>
                                                                                <tr>
                                                                                    <td colspan="8">
                                                                                        <h3 style="font-size: 28px; font-weight: bold; color: #000000; text-transform: uppercase; border-bottom: 2px solid #007bff; padding-bottom: 5px;">No orders found</h3>
                                                                                    </td>
                                                                                </tr>
                                                                                <% } %>
                                                                            </tbody>
                                                                        </table>
                                                                        <div class="pagination-container">
                                                                            <% if (currentPage > 1) { %>
                                                                                <a href="/loadProfile?page=<%= currentPage - 1 %>" class="btn btn-primary btn-sm">Previous</a>
                                                                            <% } %>
                                                                        
                                                                            <% for (let i = 1; i <= totalPages; i++) { %>
                                                                                <a href="/loadProfile?page=<%= i %>" class="btn btn-primary btn-sm <%= currentPage === i ? 'active' : '' %>"><%= i %></a>
                                                                            <% } %>
                                                                        
                                                                            <% if (currentPage < totalPages) { %>
                                                                                <a href="/loadProfile?page=<%= currentPage + 1 %>" class="btn btn-primary btn-sm">Next</a>
                                                                            <% } %>
                                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>



                                        <!-- <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                        aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Orders tracking</h5>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>To track your order please enter your OrderID in the box below and
                                                    press "Track" button. This was given to you on your receipt and in
                                                    the confirmation email you should have received.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#"
                                                            method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id"
                                                                    placeholder="Found in your order confirmation email"
                                                                    type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email"
                                                                    placeholder="Email you used during checkout"
                                                                    type="email" class="square">
                                                            </div>
                                                            <button class="submit submit-auto-width"
                                                                type="submit">Track</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->


                                        <div class="tab-pane fade" id="address" role="tabpanel"
                                            aria-labelledby="address-tab">
                                            <div class="row">


                                                <div class="col-lg-6">
                                                    <div class="card mb-4 mb-lg-0">
                                                        <div class="card-header">
                                                            <h5 class="mb-0">My Address</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <% if (addresses && addresses.length> 0) { %>
                                                                <% addresses.forEach((address, index)=> { %>
                                                                    <div id="address_<%= address._id %>">
                                                                        <address>
                                                                            Name: <%= address.name %> <br>
                                                                                Housename: <%= address.houseName %><br>
                                                                                    City: <%= address.city %>,<br>
                                                                                        State: <%= address.state %>.
                                                                                            <br>
                                                                                            Pincode: <%= address.pinCode
                                                                                                %>
                                                                        </address>
                                                                        <a
                                                                            onclick="removeAddress('<%= address._id %>')">
                                                                            <i class="fa-solid fa-trash fa-xl"></i></a>
                                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        <a href="/loadEditAddress1?id=<%= address._id %>"
                                                                            class="edit-address"
                                                                            style="color: green;">Edit</a> </a>
                                                                        <hr>
                                                                    </div>
                                                                    <% }); %>
                                                                        <% } else { %>
                                                                            <p>No address found.</p>
                                                                            <% } %>
                                                                                <a href="#"
                                                                                    class="btn btn-primary btn-lg"
                                                                                    id="toggleAddressForm">Add
                                                                                    Address</a>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-lg-6" id="addressFormContainer" style="display: none;">
                                                    <div class="card mb-4 mb-lg-0">
                                                        <div class="card-header">
                                                            <h5 class="mb-0">Add New Address</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <form id="addressForm" action="/addAddress" method="post">
                                                                <div class="mb-3">
                                                                    <label for="inputAddress"
                                                                        class="form-label">Name</label>
                                                                    <input type="text"
                                                                        class="form-control form-control-lg" name="name"
                                                                        id="inputAddress" required>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="inputCity"
                                                                        class="form-label">Mobile</label>
                                                                    <input type="tel" pattern="[0-9]{10}"
                                                                        class="form-control form-control-lg"
                                                                        name="mobile" id="inputCity" required>
                                                                    <small>Please enter a 10-digit mobile
                                                                        number.</small>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="inputState" class="form-label">House
                                                                        Name</label>
                                                                    <input type="text"
                                                                        class="form-control form-control-lg"
                                                                        name="houseName" id="inputState" required>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="inputZip"
                                                                        class="form-label">City</label>
                                                                    <input type="text"
                                                                        class="form-control form-control-lg" name="city"
                                                                        id="inputZip" required>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="inputState"
                                                                        class="form-label">State</label>
                                                                    <input type="text"
                                                                        class="form-control form-control-lg"
                                                                        name="state" id="inputState" required>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="inputZip"
                                                                        class="form-label">Pincode</label>
                                                                    <input type="text"
                                                                        class="form-control form-control-lg"
                                                                        name="pinCode" id="inputZip" required
                                                                        pattern="[0-9]{6}">
                                                                    <small>Please enter a 6-digit pin code.</small>
                                                                </div>
                                                                <button type="submit"
                                                                    class="btn btn-primary btn-lg">Save Address</button>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                            <div class="card" style="border: 1px solid #dee2e6; border-radius: 0.25rem;">
                                                <div class="card-header" style="background-color: #f8f9fa; border-bottom: 1px solid #dee2e6;">
                                                    <h5 style="margin-bottom: 0;">Account Details</h5>
                                                    <p style="font-size: 14px; color: #6c757d;">change password</p>
                                                </div>
                                                <div class="card-body">
                                                    <a href="/profileEdit" style="text-decoration: none; color: #007bff; font-size: 16px;">CHANGE YOUR PASSWORD</a>
                                                </div>
                                                <div style="padding: 20px;">
                                                    <form action="#" method="post">
                                                        <div class="mb-3">
                                                            <label for="newUsername" class="form-label" style="font-size: 16px; color: #495057;">New Username</label>
                                                            <input type="text" class="form-control" id="newUsername" name="newUsername" required style="border: 1px solid #ced4da; border-radius: 5px; padding: 12px; font-size: 16px;" pattern="^[a-zA-Z]+$">
                                                        </div>
                                                    
                                                        <div class="mb-3">
                                                            <label for="currentPassword" class="form-label" style="font-size: 16px; color: #495057;">Current Password</label>
                                                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" required style="border: 1px solid #ced4da; border-radius: 5px; padding: 12px; font-size: 16px;">
                                                        </div>
                                                    
                                                        <button type="button" onclick="updateUsername()" class="btn btn-primary" style="background-color: #007bff; border: none; border-radius: 5px; padding: 12px 24px; font-size: 16px;">Update Username</button>
                                                    </form>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <div class="tab-pane fade" id="coupon" role="tabpanel"
                                        aria-labelledby="account-detail-tab">
                                        <% if (coupons) { %>
                                            <div class="card coupon-container">
                                              <div class="card-header bg-gradient-primary text-white">
                                                <h5>Available Coupons</h5>
                                              </div>
                                              <div class="card-body">
                                                <% for (let i = 0; i < coupons.length; i++) { %>
                                                <div class="coupon-card d-inline-flex mb-3">
                                                  <div class="card coupon-card-inner">
                                                    <div class="card-body">
                                                      <div class="d-flex justify-content-between align-items-center">
                                                        <span class="coupon-code"><%= coupons[i].couponName %></span>
                                                        <div class="coupon-code-container">
                                                          <h6 class="mb-0 coupon-title"><%= coupons[i].couponCode %></h6>
                                                          <button id="copyButton<%= i %>" class="btn btn-sm btn-primary copy-btn ml-2" onclick="copyCoupon('<%= coupons[i].couponCode %>', this)" title="Copy Coupon Code">
                                                            <i class="fas fa-copy"></i> <span>Copy</span>
                                                          </button>
                                                        </div>
                                                      </div>
                                                      <p class="mb-0"><strong>Expiry Date:</strong> <%= coupons[i].expirationDate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></p>
                                                      <p class="mb-0">Use this coupon code to get <%= coupons[i].discountAmount %>% off on your next purchase.</p>
                                                    </div>
                                                  </div>
                                                </div>
                                                <% } %>
                                              </div>
                                            </div>
                                            <% } %>
                                        
                                        


                                          
                                    </div>

                                    <% if(wallet){ %>
                                        <div class="tab-pane fade" id="wallet" role="tabpanel" aria-labelledby="account-detail-tab" style="padding: 20px;
                                        width: 100%; display: grid; grid-template-columns: 1fr 2fr;">
                                            <div class="card coupon-container" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 250px;">
                                                <div class="card-header bg-gradient-primary text-white" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                                    <h5 style="margin-bottom: 0; font-size: 24px;">Wallet</h5>
                                                </div>
                                                <div class="card-body" style="max-width: 300px;"> <!-- Adjust the max-width -->
                                                    <div class="wallet-info" style="padding-bottom: 15px;">
                                                        <h6 style="margin-bottom: 0; font-size: 18px;">Available Balance:</h6>
                                                        <p id="balanceAmount" style="margin-top: 5px; font-size: 24px; font-weight: bold;">$<%= wallet.balance.toFixed(2) %></p>
                                                    </div>
                                                    <!-- Add Funds Form -->
                                                    <div class="add-funds-form" style="margin-top: 20px;">
                                                        <form id="addFundsForm" method="post">
                                                            <div class="form-group">
                                                                <label for="amount" style="margin-bottom: 5px; font-size: 18px;">Amount:</label>
                                                                <input type="number" class="form-control" id="amountInput" name="amount" style="border-radius: 20px; font-size: 16px; padding: 10px; border: 1px solid #ced4da;" placeholder="Enter amount">
                                                            </div>
                                                            <button style="background-color: #000000;" type="button" onclick="submitForm()" class="btn btn-primary" style="border-radius: 20px; padding: 10px 30px; font-size: 18px;">Pay</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                            <% if (wallet) { %>
                                                <div class="transaction-history" style="max-height: 400px; overflow-y: auto;">
                                                    <h2 style="position: sticky; top: 0; background-color: #ffffff; z-index: 1; color: #007bff; font-size: 24px; font-weight: bold; text-align: center; text-transform: uppercase; margin-bottom: 20px;">Transaction History</h2>
                                                    <table style="width: 100%;">
                                                        <thead>
                                                            <tr>
                                                                <th>Transaction ID</th>
                                                                <th>Date</th>
                                                                <th>Amount</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for (let i = wallet.history.length - 1; i >= 0; i--) { %>
                                                                <tr>
                                                                    <td>#<%= Math.random().toString(36).substr(2, 8).toUpperCase() %></td>
                                                                    <td><%= wallet.history[i].createdAt.toLocaleString() %></td>
                                                                    <td style="color: <%= wallet.history[i].type === 'credit' ? '#28a745' : '#dc3545' %>"><%= wallet.history[i].type === 'credit' ? '+ $' : '- $' %><%= wallet.history[i].amount %></td>
                                                                     <td style="color: <%= wallet.history[i].type === 'credit' ? '#28a745' : '#dc3545' %>"><%= wallet.history[i].type %></td>
                                                                    
                                                                </tr>
                                                                <!-- Add more rows for each transaction -->
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                            <% } %>
                                            
                                            
                                
                                      
                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="main">
            <section class="newsletter p-30 text-white wow fadeIn animated">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7 mb-md-3 mb-lg-0">
                            <div class="row align-items-center">
                                <div class="col flex-horizontal-center">
                                    <img class="icon-email" src="/public/assets/imgs/theme/icons/icon-email.svg" alt="">
                                    <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                                </div>
                                <div class="col my-4 my-md-0 des">
                                    <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                            shopping.</strong></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <!-- Subscribe Form -->
                            <form class="form-subcriber d-flex wow fadeIn animated">
                                <input type="email" class="form-control bg-white font-small"
                                    placeholder="Enter your email">
                                <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                            </form>
                            <!-- End Subscribe Form -->
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding footer-mid">
                <div class="container pt-15 pb-20">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="widget-about font-md mb-md-5 mb-lg-0">
                                <div class="logo logo-width-1 wow fadeIn animated">
                                    <a href="index.html"><img src="/public/main-logo (1).png" alt="logo"></a>
                                </div>
                                <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                                <p class="wow fadeIn animated">
                                    <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                                </p>
                                <p class="wow fadeIn animated">
                                    <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                                </p>
                                <p class="wow fadeIn animated">
                                    <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                                </p>
                                <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                                <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                    <a href="#"><img src="/public/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                    <a href="#"><img src="/public/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                    <a href="#"><img src="/public/assets/imgs/theme/icons/icon-instagram.svg"
                                            alt=""></a>
                                    <a href="#"><img src="/public/assets/imgs/theme/icons/icon-pinterest.svg"
                                            alt=""></a>
                                    <a href="#"><img src="/public/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <h5 class="widget-title wow fadeIn animated">About</h5>
                            <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Support Center</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2  col-md-3">
                            <h5 class="widget-title wow fadeIn animated">My Account</h5>
                            <ul class="footer-list wow fadeIn animated">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Order</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h5 class="widget-title wow fadeIn animated">Install App</h5>
                            <div class="row">
                                <div class="col-md-8 col-lg-12">
                                    <p class="wow fadeIn animated">From App Store or Google Play</p>
                                    <div class="download-app wow fadeIn animated">
                                        <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                                src="/public/assets/imgs/theme/app-store.jpg" alt=""></a>
                                        <a href="#" class="hover-up"><img
                                                src="/public/assets/imgs/theme/google-play.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                    <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                    <img class="wow fadeIn animated" src="/public/assets/imgs/theme/payment-method.png"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           
        </footer>
        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="text-center">
                        <h5 class="mb-5">Now Loading</h5>
                        <div class="loader">
                            <div class="bar bar1"></div>
                            <div class="bar bar2"></div>
                            <div class="bar bar3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
            integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    const cancelButtons = document.querySelectorAll('.cancel-order');
                    const returnButtons = document.querySelectorAll('.return-order');
            
                    cancelButtons.forEach(button => {
                        button.addEventListener('click', (event) => {
                            event.preventDefault();
                            const orderId = button.getAttribute('data-order-id');
                            Swal.fire({
                                title: 'Are you sure?',
                                text: 'You are about to cancel this order.',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, cancel it!',
                                cancelButtonText: 'No, keep it'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = `/orderCancel?id=${orderId}`;
                                }
                            });
                        });
                    });
            
                    returnButtons.forEach(button => {
                        button.addEventListener('click', (event) => {
                            event.preventDefault();
                            const orderId = button.getAttribute('data-order-id');
                            Swal.fire({
                                title: 'Are you sure?',
                                text: 'You are about to return this order.',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, return it!',
                                cancelButtonText: 'No, keep it'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = `/orderReturn?id=${orderId}`;
                                }
                            });
                        });
                    });
                });
            </script>

        <script>




            document.addEventListener("DOMContentLoaded", function () {
                const addressFormContainer = document.getElementById("addressFormContainer");
                const toggleAddressForm = document.getElementById("toggleAddressForm");

                // Remove the item from local storage when the page is loaded
                localStorage.removeItem("isAddressFormShown");

                // Toggle the address form visibility when clicking the "Add Address" button
                toggleAddressForm.addEventListener("click", function (event) {
                    event.preventDefault();
                    if (addressFormContainer.style.display === "none") {
                        addressFormContainer.style.display = "block";
                        // Store the state in local storage
                        localStorage.setItem("isAddressFormShown", "true");
                    } else {
                        addressFormContainer.style.display = "none";
                        // Remove the state from local storage
                        localStorage.removeItem("isAddressFormShown");
                    }
                });
            });
        </script>
        <script>
            function removeAddress(addressId) {
                fetch('/removeAddress', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ addressId })
                })
                    .then(response => {
                        if (response.ok) {
                            // Remove the address from the DOM
                            const addressElement = document.getElementById('address_' + addressId);
                            addressElement.parentNode.removeChild(addressElement);
                            console.log('Address removed successfully');
                        } else {
                            console.error('Failed to remove address');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        </script>


        <script>
            const profileEdit = async (event) => {
                event.preventDefault(); // Prevent form submission
                const nameInput = document.getElementById("name");

                // Validate Name field to disallow spaces or numbers
                if (/[\s\d]/.test(nameInput.value)) {
                    toastr.error("Name should not contain spaces or numbers.");
                    nameInput.focus();
                    return;
                }

                const formData = new FormData(document.getElementById('profileEditForm')); // Get form data
                const body = Object.fromEntries(formData); // Convert form data to object

                try {
                    const response = await fetch('/profileEdit', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(body)
                    });
                    console.log(response)
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const data = await response.json();

                    if (!data.success) {
                        toastr.error(data.message);
                    } else {
                        toastr.success(data.message);
                        setTimeout(() => {
                            window.location.reload()

                        }, 1500)
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            };

            document.getElementById('profileEditForm').addEventListener('submit', profileEdit);
        </script>








<script>
  function copyCoupon(text, button) {
  navigator.clipboard.writeText(text)
    .then(() => {
      const buttonText = button.querySelector('span');
      buttonText.textContent = 'Copied';
      button.classList.add('copied');
      setTimeout(() => {
        buttonText.textContent = 'Copy';
        button.classList.remove('copied');
      }, 2000);
    })
    .catch((err) => {
      console.error('Failed to copy coupon code: ', err);
    });
}
</script>






        <script>
            document.getElementById("addressForm").addEventListener("submit", function (event) {
                // Prevent form submission
                event.preventDefault();

                // Validate Name field to disallow spaces
                const nameInput = document.getElementById("inputAddress");
                if (/\s/.test(nameInput.value)) {
                    toastr.error("Name should not contain spaces.");
                    nameInput.focus();
                    return;
                }

                // Validate State, City, and House Name fields to disallow numbers
                const stateInput = document.getElementById("inputState");
                const cityInput = document.getElementById("inputZip");
                const houseNameInput = document.getElementById("inputZip");

                if (/\d/.test(stateInput.value) || /\d/.test(cityInput.value) || /\d/.test(houseNameInput.value)) {
                    toastr.error("State, City, and House Name should not contain numbers.");
                    stateInput.focus();
                    return;
                }

                // If all validations pass, submit the form
                this.submit();
            });
        </script>   
 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    function submitForm() {
        // Get the amount input value
        const amount = document.getElementById('amountInput').value;

        // Prepare data for the request body
        const data = {
            amount: amount
            // Add more data if needed
        };

        // Fetch request
        fetch('/addTowallet', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then((response) => response.json())
        .then(data => {
            // Initialize Razorpay checkout with received order details
            const options = {
                "key": 'rzp_test_bdVGrcCwlFiIwl', // Replace with your Razorpay key ID
                "amount": data.order.amount/100, // Use the amount from server response
                "currency": 'USD', // Change the currency to match your requirements
                "name": 'BOOK-SAW',
                "description": 'Purchase Description',
                "image":"/public/spellbook.png",

                "order_id": data.order.id, // Use the order ID from server response
                "handler": function (response) {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Payment successful!",
                        showConfirmButton: false,
                        timer: 2000
                    }).then(() => {
                        window.location.href = '/loadProfile';
                    });
                },
                "prefill": {
                    "name": 'Joel',
                    "email": 'joel@example.com',
                    "contact": '9999999999',
                },
                "theme": {
                    "color": '#8B008B'
                }
            };
            const razorpayInstance = new Razorpay(options);
            razorpayInstance.open();
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
            });
        });
    }
</script>
<script>
    function updateUsername() {
        const newUsername = document.getElementById('newUsername').value;
        const currentPassword = document.getElementById('currentPassword').value;

        // Regex pattern to check for alphabetical characters only
        const pattern = /^[a-zA-Z]+$/;

        // Check if newUsername contains only alphabets
        if (!pattern.test(newUsername)) {
            toastr.error('Username should contain only alphabets');
            return; // Stop further execution
        }

        fetch('/editUsername', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ newUsername, currentPassword }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === 'Username updated successfully') {
                toastr.success(data.message);
                setTimeout(() => {
                    window.location.reload();
                }, 2000);
            } else {
                toastr.error(data.message || 'An error occurred');
            }
        })
        .catch(error => {
            toastr.error('An error occurred');
        });
    }
</script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="/public/assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/public/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
        <script src="/public/assets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="/public/assets/js/plugins/slick.js"></script>
        <script src="/public/assets/js/plugins/jquery.syotimer.min.js"></script>
        <script src="/public/assets/js/plugins/wow.js"></script>
        <script src="/public/assets/js/plugins/jquery-ui.js"></script>
        <script src="/public/assets/js/plugins/perfect-scrollbar.js"></script>
        <script src="/public/assets/js/plugins/magnific-popup.js"></script>
        <script src="/public/assets/js/plugins/select2.min.js"></script>
        <script src="/public/assets/js/plugins/waypoints.js"></script>
        <script src="/public/assets/js/plugins/counterup.js"></script>
        <script src="/public/assets/js/plugins/jquery.countdown.min.js"></script>
        <script src="/public/assets/js/plugins/images-loaded.js"></script>
        <script src="/public/assets/js/plugins/isotope.js"></script>
        <script src="/public/assets/js/plugins/scrollup.js"></script>
        <script src="/public/assets/js/plugins/jquery.vticker-min.js"></script>
        <script src="/public/assets/js/plugins/jquery.theia.sticky.js"></script>
        <!-- Template  JS -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <script src="/public/assets/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->

</html>