<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:04:24 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/assets/css/maind134.css?v=3.4">
    <style>
        .search-form {
            display: flex;
            align-items: center;
        }

        .search-input {
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            flex: 1;
            margin-right: 10px;
        }

        .search-button {
            padding: 10px 20px;
            background-color: #088178;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        .search-button:hover {
            background-color: #065a49;
        }
    </style>
</head>

<body>


    <%-include('../partials/userHeader')-%>
        <div class="mobile-header-active mobile-header-wrapper-style">
            <div class="mobile-header-wrapper-inner">
                <div class="mobile-header-top">
                    <div class="mobile-header-logo">
                        <a href="#"><img src="/public/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                        <button class="close-style search-close">
                            <i class="icon-top"></i>
                            <i class="icon-bottom"></i>
                        </button>
                    </div>
                </div>
                <div class="mobile-header-content-area">
                    <div class="mobile-search search-style-3 mobile-header-border">
                        <form action="#">
                            <input type="text" placeholder="Search for items…">
                            <button type="submit"><i class="fi-rs-search"></i></button>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-border">
                        <!-- <div class="main-categori-wrap mobile-header-border">
                            <a class="categori-button-active-2" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-small">
                                <ul>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's
                                            Clothing</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's
                                            Clothing</a></li>
                                    <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i>
                                            Cellphones</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                            Office</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                            Electronics</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                            Kids</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- mobile menu start -->
                        <nav>
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="index.html">Home</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
                                        <li><a href="index-3.html">Home 3</a></li>
                                        <li><a href="index-4.html">Home 4</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="shop-grid-right.html">shop</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                        <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                        <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                        <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                        <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                                href="#">Single Product</a>
                                            <ul class="dropdown">
                                                <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                                <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                                <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop-filter.html">Shop – Filter</a></li>
                                        <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                        <li><a href="shop-cart.html">Shop – Cart</a></li>
                                        <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                        <li><a href="shop-compare.html">Shop – Compare</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                        menu</a>

                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="blog-category-fullwidth.html">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                        <li><a href="blog-category-list.html">Blog Category List</a></li>
                                        <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                        <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                                href="#">Single Product Layout</a>
                                            <ul class="dropdown">
                                                <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                                <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                                <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="page-about.html">About Us</a></li>
                                        <li><a href="page-contact.html">Contact</a></li>
                                        <li><a href="page-account.html">My Account</a></li>
                                        <li><a href="page-login-register.html">login/register</a></li>
                                        <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                        <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                        <li><a href="page-terms.html">Terms of Service</a></li>
                                        <li><a href="page-404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="#">Language</a>
                                    <ul class="dropdown">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">German</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- mobile menu end -->
                    </div>
                    <div class="mobile-header-info-wrap mobile-header-border">
                        <div class="single-mobile-header-info mt-30">
                            <a href="page-contact.html"> Our location </a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="page-login-register.html">Log In </a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="page-login-register.html">Log OUt </a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a href="#">(+01) - 2345 - 6789 </a>
                        </div>
                    </div>
                    <div class="mobile-social-icon">
                        <h5 class="mb-15 text-grey-4">Follow Us</h5>
                        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <main class="main">
            <section class="home-slider position-relative pt-50">
                <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">

                    <!-- <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-5 col-md-6">
                                <div class="hero-slider-content-2">
                                    <h4 class="animated">Trade-in offer</h4>
                                    <h2 class="animated fw-900">Supper value deals</h2>
                                    <h1 class="animated fw-900 text-brand">On all Books</h1>
                                    <p class="animated">Save more with coupons & up to 70% off</p>
                                    <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html"> Shop Now </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="single-slider-img single-slider-img-1">
                                    <img class="animated slider-1-1" src="/public/assets/imgs/slider/slider-1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-5 col-md-6">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Upcoming Offer</h4>
                                        <h2 class="animated fw-900">Big Deals From</h2>
                                        <h1 class="animated fw-900 text-8">Author</h1>
                                        <p class="animated">Fiction,Horror,History...</p>
                                        <a class="animated btn btn-brush btn-brush-1" href="shop-product-right.html">
                                            Shop Now </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="single-slider-img single-slider-img-1">
                                        <img class="animated slider-1-3" src="/public/assets/imgs/slider/slider-3.png"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-5 col-md-6">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Upcoming Offer</h4>
                                        <h2 class="animated fw-900">Big Deals From</h2>
                                        <h1 class="animated fw-900 text-8">Author</h1>
                                        <p class="animated">Fiction,Horror,History...</p>
                                        <a class="animated btn btn-brush btn-brush-1" href="shop-product-right.html">
                                            Shop Now </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="single-slider-img single-slider-img-1">
                                        <img class="animated slider-1-3" src="/public/assets/imgs/slider/slider-3.png"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="slider-arrow hero-slider-1-arrow"></div>
            </section>
            <section class="featured section-padding position-relative">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="/public/assets/imgs/theme/icons/feature-1.png" alt="">
                                <h4 class="bg-1">Free Shipping</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="/public/assets/imgs/theme/icons/feature-2.png" alt="">
                                <h4 class="bg-3">Online Order</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="/public/assets/imgs/theme/icons/feature-3.png" alt="">
                                <h4 class="bg-2">Save Money</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="/public/assets/imgs/theme/icons/feature-4.png" alt="">
                                <h4 class="bg-4">Promotions</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="/public/assets/imgs/theme/icons/feature-5.png" alt="">
                                <h4 class="bg-5">Happy Sell</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="/public/assets/imgs/theme/icons/feature-6.png" alt="">
                                <h4 class="bg-6">24/7 Support</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="product-tabs section-padding position-relative wow fadeIn animated">
                <!-- <div class="bg-square"></div> -->
                <div class="container">
                    <div class="tab-header">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab"
                                    data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one"
                                    aria-selected="true">Featured</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two"
                                    type="button" role="tab" aria-controls="tab-two"
                                    aria-selected="false">Popular</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab"
                                    data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three"
                                    aria-selected="false">New added</button>
                            </li>
                        </ul>
                        <a href="#" class="view-more d-none d-md-flex">View More<i
                                class="fi-rs-angle-double-small-right"></i></a>
                    </div>
                    <!--End nav-tabs-->
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="row product-grid-4">



                                <!-- ======================================= -->

                                <% for(let i=0 ; i < product.length ; i++) { %>

                                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/shop-product?id=<%=product[i]._id%>">
                                                        <img class="default-img"
                                                            src="/public/uploads/<%=product[i].Images[0]%>" alt="">
                                                        <!-- <img src="/public/uploads/<%=product[i].Images[0]%>" width="100px" alt="Item"> -->
                                                        <img class="hover-img"
                                                            src="/public/uploads/<%=product[i].Images[1]%>" alt="">
                                                    </a>
                                                </div>

                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="shop-grid-right.html">
                                                        <%=product[i].Categories.categoryName%>
                                                    </a>
                                                </div>
                                                <h2><a href="/shop-product?id=<%=product[i]._id%>">
                                                        <%=product[i].Bookname%>
                                                    </a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>90%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>$<%=product[i].saleprice%></span>
                                                    <span class="old-price">$<%=product[i].Regularprice%></span>
                                                </div>
                                                <div class="product-action-1 show">
                                                    <a aria-label="Add To Cart" class="action-btn hover-up"
                                                        href="/addToCart?id=<%=product[i]._id%>"><i
                                                            class="fi-rs-shopping-bag-add"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                            </div>



                            <div class="row">
                                <div class="col-lg-3 d-none d-lg-flex">
                                    <div class="banner-img style-2 wow fadeIn animated">
                                        <img src="/public/assets/imgs/banner/banner-9.jpg" alt="">
                                        <div class="banner-text">
                                            <span>Ghost Area</span>
                                            <h4 class="mt-5">Save 17% on <br>HorrorBooks</h4>
                                            <a href="shop-grid-right.html" class="text-white">Shop Now <i
                                                    class="fi-rs-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-lg-9 col-md-12">
                                    <div class="tab-content wow fadeIn animated" id="myTabContent-1">
                                        <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel"
                                            aria-labelledby="tab-one-1">
                                            <div class="carausel-4-columns-cover arrow-center position-relative">
                                                <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow"
                                                    id="carausel-4-columns-arrows"></div>
                                                <div class="carausel-4-columns carausel-arrow-center"
                                                    id="carausel-4-columns">
                                                    <% for(let i=0 ; i < product.length ; i++) { %>




                                                        <div class="product-cart-wrap">
                                                            <div class="product-img-action-wrap"
                                                                style="height: 220px; width: 170;">
                                                                <a href="/shop-product?id=<%=product[i]._id%>">
                                                                    <img class="default-img"
                                                                        src="/public/uploads/<%=product[i].Images[0]%>"
                                                                        alt="">
                                                                    <img class="hover-img"
                                                                        src="/public/uploads/<%=product[i].Images[1]%>"
                                                                        alt="">
                                                                </a>

                                                                <div
                                                                    class="product-badges product-badges-position product-badges-mrg">
                                                                    <span class="new">New</span>
                                                                </div>
                                                            </div>
                                                            <div class="product-content-wrap">
                                                                <div class="product-category">
                                                                    <a href="shop-grid-right.html">
                                                                        <%=product[i].Categories.categoryName%>
                                                                    </a>
                                                                </div>
                                                                <h2><a href="shop-product-right.html">
                                                                        <%=product[i].Bookname%>
                                                                    </a></h2>
                                                                <div class="rating-result" title="90%">
                                                                    <span>
                                                                        <span>70%</span>
                                                                    </span>
                                                                </div>
                                                                <div class="product-price">
                                                                    <span>₹<%=product[i].saleprice%></span>
                                                                    <span class="old-price">₹
                                                                        <%=product[i].Regularprice%></span>
                                                                </div>
                                                                <div class="product-action-1 show">
                                                                    <a aria-label="Add To Cart"
                                                                        class="action-btn hover-up"
                                                                        href="shop-cart.html"><i
                                                                            class="fi-rs-shopping-bag-add"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <%}%>

       
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            </section>

            <!-- blog(section) -->

            <!-- <section class="section-padding">
            <div class="container pt-25 pb-20">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="section-title mb-20"><span>From</span> blog</h3>
                        <div class="post-list mb-4 mb-lg-0">
                            <article class="wow fadeIn animated">
                                <div class="d-md-flex d-block">
                                    <div class="post-thumb d-flex mr-15">
                                        <a class="color-white" href="blog-post-fullwidth.html">
                                            <img src="/public/assets/imgs/blog/blog-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-meta mb-10 mt-10">
                                            <a class="entry-meta meta-2" href="blog-category-fullwidth.html"><span class="post-in font-x-small">Fashion</span></a>
                                        </div>
                                        <h4 class="post-title mb-25 text-limit-2-row">
                                            <a href="blog-post-fullwidth.html">Qualcomm is developing a Nintendo Switch-like console, report says</a>
                                        </h4>
                                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                            <div>
                                                <span class="post-on">14 April 2022</span>
                                                <span class="hit-count has-dot">12M Views</span>
                                            </div>
                                            <a href="blog-post-right.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="wow fadeIn animated">
                                <div class="d-md-flex d-block">
                                    <div class="post-thumb d-flex mr-15">
                                        <a class="color-white" href="blog-post-fullwidth.html">
                                            <img src="/public/assets/imgs/blog/blog-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <div class="entry-meta mb-10 mt-10">
                                            <a class="entry-meta meta-2" href="blog-category-fullwidth.html"><span class="post-in font-x-small">Healthy</span></a>
                                        </div>
                                        <h4 class="post-title mb-25 text-limit-2-row">
                                            <a href="blog-post-fullwidth.html">Not even the coronavirus can derail 5G's global momentum</a>
                                        </h4>
                                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                            <div>
                                                <span class="post-on">14 April 2022</span>
                                                <span class="hit-count has-dot">12M Views</span>
                                            </div>
                                            <a href="blog-post-right.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner-img banner-1 wow fadeIn animated">
                                    <img src="/public/assets/imgs/banner/banner-5.jpg" alt="">
                                    <div class="banner-text">
                                        <span>Accessories</span>
                                        <h4>Save 17% on <br>Autumn Hat</h4>
                                        <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="banner-img mb-15 wow fadeIn animated">
                                    <img src="/public/assets/imgs/banner/banner-6.jpg" alt="">
                                    <div class="banner-text">
                                        <span>Big Offer</span>
                                        <h4>Save 20% on <br>Women's socks</h4>
                                        <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="banner-img banner-2 wow fadeIn animated">
                                    <img src="/public/assets/imgs/banner/banner-7.jpg" alt="">
                                    <div class="banner-text">
                                        <span>Smart Offer</span>
                                        <h4>Save 20% on <br>Eardrop</h4>
                                        <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->



            <section class="mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-bg wow fadeIn animated"
                                style="background-image: url('/public/assets/imgs/banner/banner-8.jpg')">
                                <div class="banner-content">
                                    <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
                                    <h2 class="fw-600">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up
                                        to 40%</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    <%-include('../partials/userFooter')-%>

            <!-- Preloader Start -->
            <div id="preloader-active">
                <div class="preloader d-flex align-items-center justify-content-center">
                    <div class="preloader-inner position-relative">
                        <div class="text-center">
                            <h5 class="mb-10">Now Loading</h5>
                            <div class="loader">
                                <div class="bar bar1"></div>
                                <div class="bar bar2"></div>
                                <div class="bar bar3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vendor JS-->
            <script src="/public/assets/js/vendor/modernizr-3.6.0.min.js"></script>
            <script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
            <script src="/public/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
            <script src="/public/assets/js/vendor/bootstrap.bundle.min.js"></script>
            <script src="/public/assets/js/plugins/slick.js"></script>
            <script src="/public/assets/js/plugins/jquery.syotimer.min.js"></script>
            <script src="/public/assets/js/plugins/wow.js"></script>
            <script src="/public/assets/js/plugins/jquery-ui.js"></script>
            <script src="/public/assets/js/plugins/perfect-scrollbar.js"></script>
            <script src="/public/assets/js/plugins/magnific-popup.js"></script>
            <script src="/public/assets/js/plugins/select2.min.js"></script>
            <script src="/public/assets/js/plugins/waypoints.js"></script>
            <script src="/public/assets/js/plugins/counterup.js"></script>
            <script src="/public/assets/js/plugins/jquery.countdown.min.js"></script>
            <script src="/public/assets/js/plugins/images-loaded.js"></script>
            <script src="/public/assets/js/plugins/isotope.js"></script>
            <script src="/public/assets/js/plugins/scrollup.js"></script>
            <script src="/public/assets/js/plugins/jquery.vticker-min.js"></script>
            <script src="/public/assets/js/plugins/jquery.theia.sticky.js"></script>
            <script src="/public/assets/js/plugins/jquery.elevatezoom.js"></script>
            <!-- Template  JS -->
            <script src="/public/assets/js/maind134.js?v=3.4"></script>
            <script src="/public/assets/js/shopd134.js?v=3.4"></script>


</body>
<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:09:48 GMT -->

</html>