<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ELYSIUM-BOOKS</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Untitled_design-removebg-preview.png">
    <!-- Template CSS -->
    <link href="public/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/public/admin-assets/css/main.css" rel="stylesheet" type="text/css" />

    <style>
        @media print {
            body {
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            .main-wrap {
                width: 100%;
                height: auto !important;
            }

            .content-main {
                height: auto !important;
                page-break-inside: avoid !important;
            }

            .footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                text-align: center;
                padding: 10px;
                background-color: #f9f9f9;
            }

            .main-footer {
                display: none;
            }
        }
    </style>
</head>

<body>

    <main class="main-wrap">
        <% if (locals.orders) { %>
            <div class="content-header">
                <div class="content-header text-center" style="justify-content: center;">
                    <h2 class="content-title card-title inline-center" >Invoice</h2>
                </div>
            </div>
            <!-- <div class="row"> -->
                <div class="col-lg-11 col-md-12">
                    <div class="card">
                        <header class="card-header">
                            <div class="row align-items-center ">
                                <div class="col-lg-9 col-md-6 mb-lg-0 mb-15">
                                    <span>
                                        <i class="material-icons md-calendar_today"></i>
                                        <b><%=orders.orderDate.toLocaleString()%></b>
                                    </span> <br>
                                    <small class="text-muted">Order ID: <%=orders.orderId%></small>
                                </div>
                                <div class="col-lg-6 col-md-6 ms-auto text-md-end" id="printButtonContainer">
                                    <a class="btn btn-primary" href="#" onclick="printAndRemoveButton()" id="printButton">
                                        Print <i class="icon material-icons md-print"></i>
                                    </a>
                                </div>
                                
                                
                            </div>
                        </header> <!-- card-header end// -->
                        <div class="card-body">
                            <div class="receipt-content">
                                <div class="container bootstrap snippets bootdey">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="invoice-wrapper">
                                                <div class="intro">
                                                    Hi <strong> <%=address.name%></strong>,
                                                    <br>
                                                    This is the receipt for your order.
                                                </div>

                                                <div class="payment-info">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <span>Payment No.</span>
                                                            <strong><%=orders.orderId%></strong>
                                                        </div>
                                                        <div class="col-sm-6 text-end">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="payment-details">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <span>Customer</span>
                                                            <strong><%=address.name%></strong>
                                                            <p>
                                                                Phone: <%=address.mobile%><br>

                                                            </p>
                                                        </div>
                                                        <div class="col-sm-6 text-end">
                                                            <span>Delivery Address</span>
                                                            <strong>
                                                                <%=address.houseName%>,<br> <%=address.city%>, <%=address.state%> <br>PinCode:<%=address.pinCode%>
                                                            </strong>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="line-items">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Book Name</th>
                                                                <th>Unit Price</th>
                                                                <th>Quantity</th>
                                                                <th class="text-end">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% let grandTotal = 0; %>
                                                            <% for(let order of orders.product) { %>
                                                            <tr class="item">
                                                                <td class="desc"><%= order.productId.Bookname %></td>
                                                                <td class="price">$ <%= order.productId.saleprice %></td>
                                                                <td class="qty"><%= order.quantity %></td>
                                                                <td class="amount text-end">$<%= (order.quantity * order.productId.saleprice).toFixed(2) %></td>
                                                            </tr>
                                                            <% grandTotal += order.quantity * order.productId.saleprice; %>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <% if(orderData ) { %>
                                                <div class="total text-end">
                                                    <div class="field grand-total">
                                                        <h5><strong> Total: <span>$<%= orderData.totalAmount %></span></strong></h5>
                                                    </div>
                                                </div>
                                                <%}%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        <% } %>

    </main>
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©,ELYSIUM-BOOKS.
            </div>
            <div class="col-sm-6">
          
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        function printAndRemoveButton() {
            var printButton = document.getElementById("printButton");
            printButton.style.display = "none"; // Hide the print button
    
            // Initiating PDF download
            window.print();
    
            // Restore the print button after a short delay to ensure it's printed first
            setTimeout(function() {
                printButton.style.display = ""; // Restore the print button
            }, 100);
        }
    </script>
    

    <script src="public/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="public/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="public/assets/js/vendors/select2.min.js"></script>
    <script src="public/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="public/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="public/assets/js/main.js" type="text/javascript"></script>
</body>

</html>
